*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('foto4.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    color: white;
    font-size: 2rem;
    user-select: none;
}
.navigasi a{
    position: relative;
    color: white;
    font-size: .9rem;
    font-weight: 600;
    text-decoration: none;
    margin-left: 30px;
}
.navigasi a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width:  100%;
    height: 3px;
    background: white;
    transform-origin: right;
    border-radius: 3px;
    transform: scaleX(0);
    transition: transform .5s;
}
.navigasi a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}
.navigasi .login-popup{
    width: 120px;
    height: 40px;
    border-radius: 10px;
    background: transparent;
    outline: none;
    font-weight: 600;
    font-size: .9rem;
    border: 2px solid white;
    margin-left: 30px;
    cursor: pointer;
    color: white;
}
.navigasi .login-popup:hover{
    background-color: white;
    color: black;
}
.wrapper h2{
    font-size: 2rem;
    color: #0d130d;
    text-align: center;
    margin-bottom: -15px;
    user-select: none;
}
.wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgb(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0  30px rgb(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition:.2s ease;
    overflow: hidden;
}
.wrapper.active-popup{
    transform: scale(1);
}
.wrapper.active{
    height: 520px;
}
.wrapper .register{
    position: absolute;
    transition:none;
    transform: translateX(0);
}
.wrapper.active .login{
    transition: none;
    transform: translateX(-400px);
}
.wrapper .register{
    position: absolute;
    transform: translateX(400px);
}
.wrapper.login{
    transition: transform .18s ease;
    transform: translateX(0);
}
.wrapper.active .register{
    transition: transform .18s ease;
    transform: translateX(0);
}
.wrapper .close{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background: transparent;
    font-size: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 1rem;
    color: #0d130d;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: #0d130d;
}
.input-box .icon{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.io-forgot{
    display: flex;
    justify-content: space-between;
    font-size: .9rem;
    margin: -15px 0 15px;
}
.io-forgot label input{
    accent-color: white;
    margin: 3px;
}
.io-forgot a{
    color: #0d130d;
    font-size: .8rem;
    font-weight: 600;
    margin: 2px 0;
    text-decoration: none;
}
.io-forgot a:hover{
    text-decoration: underline;
}
.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #8f918f;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px rgb(0, 0, 0, .1);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    color: white;
}
.wrapper .btn:hover{
    color: black;
    background: white;
    border: 2px solid #8f918f;
}
.wrapper .io-register{
    font-size: .9rem;
    color: #0d130d;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.wrapper .io-register p a{
    color: #0d130d;
    text-decoration: none;
    font-weight: 600;
}
.wrapper .io-register p a:hover{
    text-decoration: underline;
}